$header: indianred;

h1{
  color: $header;
  font-size: 105px;
  // font-family: 'Alex Brush', cursive;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Roboto Condensed', sans-serif;
  // font-family: 'Cinzel', serif;
  font-family: 'Lora', serif;
  font-style: italic;
}
