$header: indianred;

h1{
  font-family: 'Dancing Script', cursive;
  font-style: italic;
}

.test {
  font-size: 15vh !important;
}

.wrap {
    width: 150px;
    height: 150px;
    margin: 20px;
    text-align: center;
    position: relative;
    float: left;
}
.text-image {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 40%;
    right: 50;
    bottom: 50;
    color:white;
    height:100px;
    font-size: 95px;
}

.image {
  border-radius: 50%;
}
