$header: indianred;

h1{
  color: $header;
  font-size: 105px;
  // font-family: 'Alex Brush', cursive;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Roboto Condensed', sans-serif;
  // font-family: 'Cinzel', serif;
  font-family: 'Lora', serif;
  font-style: italic;
}

.wrap {
    width: 150px;
    height: 150px;
    margin: 20px;
    text-align: center;
    position: relative;
    float: left;
}
.text-image {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 40%;
    right: 50;
    bottom: 50;
    color:white;
    height:100px;
    font-size: 95px;
}

img {
  border-radius: 50%;
}
